.gitignore 
*.swp
*.swm
*.swn
*.swo
/angular-phonecat
/bower_components
/directive
/login
/login1
/plural-angular-directive-course
/pro-angularjs-book-master
/recipes-with-angular-js-examples
/template
/tooltip
/yumbox-master
/form
/livn
/vision
/add item
/yum-clone-hapijade
/http
/angularjs-jwt-authentication-tutorial
/hapi-auth-cookie
/hapi-authentication-and-authorization/

