<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" />
	<link rel="stylesheet" href="bower_components/bootstrap-select/dist/css/bootstrap-select.css"/>
	<link rel="stylesheet" href="main.css" />
	<script src="bower_components/jquery/dist/jquery.min.js"></script>
	<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="bower_components/angular/angular.js"></script>
	<script src="app.js"></script>
	<script src="bower_components/bootstrap-select/dist/js/bootstrap-select.js"></script>
	<script src="bower_components/textarea-autosize/dist/jquery.textarea_autosize.min.js"></script>
</head>
<body ng-app="validationApp" ng-controller="mainController">
		<div class="container">
			<div class="col-md-3">
				<div class="page-header"><h1>AngularJS Form Validation</h1></div>
			<form name="userForm" ng-submit="submitForm(userForm.$valid)" novalidate>
					<div class="form-group" ng-class="{ 'has-error' : userForm.name.$invalid && !userForm.name.$pristine }">
					 <label>Full Name*</label>
					 <input type="text" name="name" class="form-control" ng-model="user.name" ng-minlength="5" ng-maxlength="25" required>
						<p ng-show="userForm.name.$invalid && !userForm.name.$pristine" class="help-block">You name is required.</p>
						<p ng-show="userForm.name.$error.minlength" class="help-block">Username is too short.</p>
						<p ng-show="userForm.name.$error.maxlength" class="help-block">Username is too long.</p>
					</div>
					<div class="form-group" >
						<label>Password*</label>
						<input type="password" name="password" class="form-control" ng-model="user.pssword" ng-minlength="6" required>
						<p ng-show="userForm.password.$invalid && !userForm.password.$pristine" class="help-block">You password: is required.</p>
					</div>
					<div class="form-group">
						<label>About Me</label>
						<textarea class="js-auto-size" rows="1"></textarea>	
					</div>
					<div class="form-group">
					<label>Country</label>
					<select class="selectpicker" data-live-search="true">
						<option data-tokens="Iran">Iran</option>
						<option data-tokens="Australia">Australia</option>
						<option data-tokens="UK">UK</option>
					</select>
				</div>
				<div class="form-group" ng-class="{ 'has-error' : userForm.email.$invalid && !userForm.email.$pristine }">
					<label>Email*</label>
					<input type="email" name="email" class="form-control" ng-model="user.email">
					<p ng-show="userForm.email.$invalid && !userForm.email.$pristine" class="help-block">Enter a valid email.</p>
				</div>
				<div class="form-group">
					<label>Favorite Music Genre</label>
					<label class="checkbox-inline">
						<input type="checkbox" name="favoriteColors" ng-model="formData.colors.red"> Trance
					</label>
					<label class="checkbox-inline">
						<input type="checkbox" name="favoriteColors" ng-model="formData.colors.blue"> Jazz
					</label>
					<label class="checkbox-inline">
						<input type="checkbox" name="favoriteColors" ng-model="formData.colors.green"> Country
					</label>
				</div>
				<div class="form-group">
					<label>Gender*</label>
					<div class="radio">
						<label>
							<input type="radio" name="chickenEgg" value="chicken" ng-model="formData.chickenEgg" required>
								Male
						</label>
					</div>
					<div class="radio">
						<label>
							<input type="radio" name="chickenEgg" value="egg" ng-model="formData.chickenEgg" required>
								Female
							</label>
					</div>
					<p ng-show="userForm.chickenEgg.$invalid && !userForm.chickenEgg.$pristine" class="help-block">You name is required.</p>

				</div>
				<button type="submit" class="btn btn-primary">Submit</button>
		</div><!--col-md-3-->
	</div>
<script>
$('textarea.js-auto-size').textareaAutoSize();
</script>

</body>
</html>
