doctype html
html(ng-app='BasicHttpAuthExample')
  head
    meta(charset='utf-8')
    title AngularJS Basic HTTP Authentication Example
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css')
  body
    .jumbotron
      .container
        .col-xs-offset-2.col-xs-8
          .alert.alert-info
            | Username: test
            br
            |     Password: test
    .alert.alert-danger(ng-show='error') {{error}}
    form(name='form', ng-submit='login()', role='form')
      .form-group
        label(for='username') Username
        i.fa.fa-key
        input#username.form-control(type='text', name='username', ng-model='username', required='')
        span.help-block(ng-show='form.username.$dirty && form.username.$error.required') Username is required
      .form-group
        label(for='password') Password
        i.fa.fa-lock
        input#password.form-control(type='password', name='password', ng-model='password', required='')
        span.help-block(ng-show='form.password.$dirty && form.password.$error.required') Password is required
      .form-actions
        button.btn.btn-danger(type='submit', ng-disabled='form.$invalid || dataLoading') Login
        img(ng-if='dataLoading', src='data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==')

    .credits.text-center
      p
        a(href='http://jasonwatmore.com/post/2014/05/26/AngularJS-Basic-HTTP-Authentication-Example.aspx') AngularJS Basic HTTP Authentication Example
      p
        a(href='http://jasonwatmore.com') JasonWatmore.com
    script(src='//code.jquery.com/jquery-2.0.3.min.js')
    script(src='//code.angularjs.org/1.2.20/angular.js')
    script(src='//code.angularjs.org/1.2.20/angular-route.js')
    script(src='//code.angularjs.org/1.2.13/angular-cookies.js')
    script(src='templates/scripts/app2.js')
    script(src='templates/modules/authentication/services.js')
    script(src='templates/modules/authentication/controllers.js')
    script(src='templates/modules/home/controllers.js')

