doctype html
html(lang='en')
  script(src='../bower_components/angular/angular.min.js')
  script(src='/templates/app.js')
  link(rel='stylesheet' type='text/css' href='bower_components/bootstrap/dist/css/bootstrap.min.css')
  link(rel='stylesheet', type='text/css', href='/public/css/main.css')

body
  nav.navbar.navbar-default
    container
      .navbar-header
         button.navbar-toggle(type='button', data-toggle='collapse', data-target='#myNavbar')
           span.icon-bar
           span.icon-bar
           span.icon-bar
          a.navbar-brand(href='#') Me
        #myNavbar.collapse.navbar-collapse
          ul.nav.navbar-nav.navbar-right
            li
              a(href='#') WHO
            li
              a(href='#') WHAT
            li
              a(href='#') WHERE
  div.container-fluid.bg-1.text-center
    h3.margin Who Are You
    img.img-responsive.img-circle.margin(src='public/img/mojtaba.jpg', style='display:inline', width='250', height='250')
    div(ng-app='', ng-init='first_name', style='width:600px; margin:0 auto;')
      br
      div
        h3 Enter your nam please
        input.form-control(type='text', ng-model='first_name', placeholder='Your Name')
        br
        p(ng-show="first_name != null && first_name != '' ").
          Hello {{ first_name }} from angular 
  div.container-fluid.bg-2.text-center
    h3.margin What Am I
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    a.btn.btn-default.btn-lg(href='#')
      span.glyphicon.glyphicon-search Search
  div.container-fluid.bg-3.text-center
    h3.margin Where To Find Me?
    div.row
      div.col-sm-4
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        img.img-responsive.margin(src='birds1.jpg' style='width:100%')
      div.col-sm-4
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        img.img-responsive.margin(src='birds2.jpg' style='width:100%')
      div.col-sm-4
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        img.img-responsive.margin(src='birds3.jpg' style='width:100%')
footer.container-fluid.bg-4.text-center
  p
    Bootstrap Them made by  
    a(href='http://geekhouse.ir')  Mojtaba Ghavidel
      
  

    
  





    
  





