form(name='commentForm', ng-submit='commentForm.$valid && commentCtrl.addComment(post)', novalidate='')
  h4 Add Comment
  textarea(ng-model='commentCtrl.comment.body', cols='30', rows='10', required='')
  label(for='') by:
  input(type='text', ng-model='commentCtrl.comment.author', required='', placeholder='Name')
  input(type='submit', value='Submit')
