html
  link(rel='stylesheet' type='text/css' href='bower_components/bootstrap/dist/css/bootstrap.min.css')
  link(rel='stylesheet', type='text/css', href='/public/css/main.css')
  body
    nav.navbar.navbar-default
      .navbar-header
         button.navbar-toggle(type='button', data-toggle='collapse', data-target='#myNavbar')
          form(method='get', action='/logout')
            input(type='submit', value='Logout')
        #myNavbar.collapse.navbar-collapse
          ul.nav.navbar-nav.navbar-right
            li
              a(href='/') Home	
            li
              a(href='#') Login
            
    h3 message 
    br
  .col-lg-2
      form(method='post', action='/login')
        | Username:
        input#username.form-control(type='text', name='username')
        br
        | Password:
        input#password.form-control(type='password', name='password')
        br
        input#button.btn.btn-danger(type='submit', value='Login')
    .credits.text-center
      p
        a(href='http://jasonwatmore.com/post/2014/05/26/AngularJS-Basic-HTTP-Authentication-Example.aspx') AngularJS Basic HTTP Authentication Example
      p
        a(href='http://jasonwatmore.com') JasonWatmore.com
